.tagLine-subtext {
  text-align: center;
  margin-top: 2rem;
  font-size: large;
  
}

.dogPic {
  margin: 3rem auto;
  width: 70vw;
  min-width: 400px;
  display: block;
}

.tagLine {
  text-align: center;
  margin-top: 3rem;
}

.adoptPageBtn {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: var(--color-medium);
  color: var(--font-dark);
  width: 8rem;
  padding: 1rem;
}
